@{
    ViewData["Title"] = "Thailand Penthouse";

}

<!-- START AGENCY-HOME -->



<section class="section agency-home" id="home">
    <div class="bg-overlay">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                @*<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>*@
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image:url(../../images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Homepage1.jpg)">
                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="agency-home-content text-center  text-white">
                                            <p class="agency-home-sub-title text-uppercase f-14 letter-spacing_4">BANGKOK</p>
                                            <h4 class="agency-home-title text-uppercase mt-4 letter-spacing_6">98 WIRELESS</h4>
                                            <div class="mt-5">
                                                <a href="~/ProjectDetails/WIRELESS" target="_blank" class="btn btn-custom">ABOUT PROJECT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image:url(../../images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Homepage1.jpg)">

                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="agency-home-content text-center  text-white">
                                            <p class="agency-home-sub-title text-uppercase f-14 letter-spacing_4">BANGKOK</p>
                                            <h4 class="agency-home-title text-uppercase mt-4 letter-spacing_6">Beatniq Sukhumvit 32</h4>

                                            <div class="mt-5">
                                                <a href="~/ProjectDetails/BEATNIQ" target="_blank" class="btn btn-custom">ABOUT PROJECT</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image:url(../../images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Homepage.jpg)">

                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="agency-home-content text-center  text-white">
                                            <p class="agency-home-sub-title text-uppercase f-14 letter-spacing_4">BANGKOK</p>
                                            <h4 class="agency-home-title text-uppercase mt-4 letter-spacing_6">Saladaeng One</h4>

                                            <div class="mt-5">
                                                <a href="~/ProjectDetails/SALADAENGONE" target="_blank" class="btn btn-custom">ABOUT PROJECT</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @*<div class="carousel-item" style="background-image:url(../../images/img_Project/MThonglor10/Materials-for-TP-M-Thonglor-Homepage.jpg)">

                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="agency-home-content text-center  text-white">
                                            <p class="agency-home-sub-title text-uppercase f-14 letter-spacing_4">BANGKOK</p>
                                            <h4 class="agency-home-title text-uppercase mt-4 letter-spacing_6">M Thonglor 10</h4>

                                            <div class="mt-5">
                                                <a href="~/ProjectDetails/MThonglor10" target="_blank" class="btn btn-custom">ABOUT PROJECT</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item" style="background-image:url(../../images/img_Project/TheMonumentThonglor/Materials-for-TP-THMNMTL-Homepage1.jpg)">

                    <div class="home-center">
                        <div class="home-desc-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="agency-home-content text-center  text-white">
                                            <p class="agency-home-sub-title text-uppercase f-14 letter-spacing_4">BANGKOK</p>
                                            <h4 class="agency-home-title text-uppercase mt-4 letter-spacing_6">Monument Thonglor</h4>

                                            <div class="mt-5">
                                                <a href="~/ProjectDetails/MONUMENTTHONGLO" target="_blank" class="btn btn-custom">ABOUT PROJECT</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!-- Slide Three - Set the background image for this slide in the line below -->

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

</section>
<section class="section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-post-box text-center mt-3">
                    <div class="post-standard-title">
                        <div class="post-img mt-3">
                            <a href="#">
                                <img src="~/images/AboutUS/Materials-for-TPH-About-Us.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="blog-standard-content mt-5">
                            <div class="home-title text-center">
                                <h2 class="home-title-title letter-spacing_4 text-uppercase">ABOUT US</h2>
                                <p class="text-muted mt-4" style="text-align:left">
                                    Thailandpenthouses.com is the only website which collects luxury property in Thailand under Bridge Estate (Thailand), that carefully selected penthouses listed from
                                    around country with thoughts of hope to assist and make it easier for buyers and investors around the world.
                                </p>
                                <p class="text-muted mt-4" style="text-align:left">
                                    Premium penthouses around country have been exclusively selected by us to make sure that you will get the best project with the best location that suits you.
                                </p>
                                <p class="text-muted mt-4" style="text-align:left">
                                    For Bridge Estate, we are an experienced international Real Estate agent in Thailand that focus exclusively on luxury residential real estate and proud to help you
                                    choosing your perfect property in Thailand.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>
</section>


<section class="section" id="OURPENTHOUSES">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="blog-post-box text-center mt-3">
                    <div class="post-standard-title">
                        <div class="post-img mt-3">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="home-title text-center ">
                    <h2 class="home-title-title letter-spacing_4 text-uppercase">OUR PENTHOUSES</h2>


                </div>
            </div>
        </div>

        <!-- portfolio menu -->
        <div class="row justify-content-center mt-5 pt-3">
            <ul class="col container-filter categories-filter portfolioFilter mb-0" id="filter">
                <li><a class="categories active current" data-filter="*">All</a></li>
                <li><a class="categories" data-filter=".bangkok">BANGKOK</a></li>
                <li><a class="categories" data-filter=".phuket">PHUKET</a></li>
                <li><a class="categories" data-filter=".chiangmai">CHIANG MAI</a></li>

            </ul>
        </div>
        <!-- End portfolio  -->

    </div>
    <!-- Gallary -->
    <div class="container">
        <div class="row justify-content-center mt-5 portfolioContainer">

            <div class="col-lg-4 nf-item p-0 bangkok desktop html">
                <div class="gallary-box m-3">
                    <a class="mfp-image" href="/ProjectDetails/WIRELESS" title="">
                        <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Our-Penthouses.jpg" alt="" />
                        <p class="text-muted text-uppercase f-12 mb-0 mt-2 text-center">98 WIRELESS</p>
                    </a>
                </div>
            </div> 

            <div class="col-lg-4 nf-item p-0 bangkok desktop css">
                <div class="gallary-box m-3">
                    <a class="mfp-image" href="/ProjectDetails/MONUMENTTHONGLO" title="">
                        <img class="gallary-container" src="~/images/img_Project/TheMonumentThonglor/Materials-for-TP-THMNMTL-Our-Penthouses.jpg" alt="" />
                        <p class="text-muted text-uppercase f-12 mb-0 mt-2 text-center">THE Monument thong lo</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 nf-item p-0 desktop bangkok css">
                <div class="gallary-box m-3">
                    <a class="mfp-image" href="/ProjectDetails/BEATNIQ" title="">
                        <img class="gallary-container" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Our-Penthouses.jpg" alt="" />
                        <p class="text-muted text-uppercase f-12 mb-0 mt-2 text-center">BEATNIQ SUKHUMVIT 32</p>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 nf-item p-0 bangkok">
                <div class="gallary-box m-3">
                    <a class="mfp-image" href="/ProjectDetails/SALADAENGONE" title="">
                        <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Our-Penthouses.jpg" alt="6" />
                        <p class="text-muted text-uppercase f-12 mb-0 mt-2 text-center">SALADAENG ONE</p>
                    </a>
                </div>
            </div>


            <div class="col-lg-4 nf-item p-0 desktop bangkok">
                <div class="gallary-box m-3">
                    <a class="mfp-image" href="/ProjectDetails/MThonglor10" title="">
                        <img class="gallary-container" src="~/images/img_Project/MThonglor10/Materials-for-TP-M-Thonglor-Our-Penthouses.jpg" alt="" />
                        <p class="text-muted text-uppercase f-12 mb-0 mt-2 text-center">M Thonglor 10</p>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- End  Gallary -->
</section>
@Html.Partial("~/Views/PartialView/_ContactUS.cshtml")


