
@{
    ViewBag.Title = "Thankyou";
}

<section class="section agency-bg-counter">
    <div class="container mt-4">
        <div class="row vertical-content mt-4" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center mt-4" style="text-align:center">
                <h1 class="home-title-title letter-spacing_4 text-uppercase text-center">THANK YOU</h1>
            </div>
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <h3 class="home-title-title letter-spacing_4 text-uppercase text-center">FOR YOUR REGISTRATION</h3>
            </div>
                <div class="row col-lg-12">
                    <div class=" col-lg-12 home-title text-center justify-content-md-center mt-2" style="text-align:center">
                        <p class="text-muted mt-4" style="text-align:center">
                            Your submission has been recieved.
                            <br />
                            Our team will respond to you as soon as posible.
                            <br />
                            <br />
                            For more information, please call
                            <br />
                            +66 (0) 65 050 5454
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
