<!-- START COUNTER -->
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <h2 class="home-title-title letter-spacing_4 text-uppercase text-center">THAI TAX LAWS</h2>
            </div>
            <div class="row col-lg-12">
                <div class="agency-contact-content mt-4">
                    <p class="text-muted mt-4"style="text-align:justify">
                        Personal Income Tax (PIT) is a direct tax levied on income of a person. A person means an individual, an ordinary partnership, a non-juristic
                        body of person, a deceased person and an undivided estate. In general, a person liable to PIT has to compute his tax liability, file tax return and
                        pay tax, if any, accordingly on a calendar year basis.
                        <br />
                        <br />1. Taxable Person
                        Taxpayers are classified into "resident" and "non-resident". "Resident" means any person residing in Thailand for a period or periods aggregating more than 180 days in any tax (calendar) year. A resident of Thailand is liable to pay tax on income from sources in Thailand on a cash
                        basis, regardless where the money is paid, as well as on the portion of income from foreign sources that is brought into Thailand. A non-resident is, however, subject to tax only on income from sources in Thailand.
                        <br />
                        <br />2. Tax Base
                        <br />2.1 Assessable Income
                        <br />
                        Income chargeable to the PIT is called "assessable income". The term covers income both in cash and in kind. Therefore, any benefits provided
                        by an employer or other persons, such as a rent-free house or the amount of tax paid by the employer on behalf of the employee, are also
                        treated as assessable income of the employee for the purpose of PIT.
                        Assessable income is divided into 8 categories as follows:
                        <br />
                        <br />(1) income from personal services rendered to employers;
                        <br />(2) income by virtue of jobs, positions or services rendered;
                        <br />(3) income from goodwill, copyright, franchise, other rights, annuity or income in the nature of annual payments derived from a will or any
                        other juristic Act or judgment of the Court;
                        <br />(4) income in the nature of dividends, interest on deposits with banks in Thailand, shares of profits or other benefits from a juristic company,
                        juristic partnership, or mutual fund, payments received as a result of the reduction of capital, a bonus, an increased capital holdings, gains
                        from amalgamation, acquisition or dissolution of juristic companies or partnerships, and gains from transferring of shares or partnership
                        holdings;
                        <br />(5) income from letting out of property on hire and from breaches of installment sales or hire-purchase contracts;
                        <br />(6) income from liberal professions;
                        <br />(7) income from construction and other contracts of work;
                        <br />(8) income from business, commerce, agriculture, industry, transport or any other activity not specified earlier.
                        <br />
                        <br />Source: Thailaws.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 50) {
            $(".sticky").addClass("nav-sticky");
        }
        else {
            $(".sticky").addClass("nav-sticky");
        }
    });

</script>