<!-- START COUNTER -->
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <h2 class="home-title-title letter-spacing_4 text-uppercase text-center">THAI REAL ESTATE LAWS</h2>
            </div>
            <div class="row col-lg-12">
                <div class="agency-contact-content mt-4">
                    <p>
                        Ownership to real estate properties in Thailand is generally limited to Thai nationals. Foreigners are thus prohibited from acquiring real estate
                        properties in Thailand. Though there are exceptions to this prohibition against foreign ownership, the same still should conform to the basic
                        requirements of Real Estate Laws of Thailand. Amendments introduced to Thai Land Code now permit an alien to acquire certain real estate
                        properties in Thailand subject to limitations imposed by Thai laws.
                        <br />A foreigner now may own a land in Thailand, provided that he invests in the country money in the amount of not less than 40 million baht. The
                        foreigner is thus allowed to own a land for residential purposes but that does not exceed one (1) rai. The investment of the foreigner is required to be beneficial to the social and economic development of Thailand.
                        <br />Foreigners are also allowed to purchase Condominium Units situated in Thailand. The purchases, however, by foreigners shall not exceed forty-nine percent (49%) of the total salable area of all the units in the condominium. Nevertheless, foreigners are not permitted to register in
                        their names the land in which the houses or building structures sit upon. If the foreigners wish to acquire a house in Thailand and has intention
                        in registering the same, it is easier if they set up a limited company because the house can be registered in the company’s name. However,
                        there are still limitations using this method and it may not be for everyone.
                        <br />One of the most common ways to enjoy real estate properties in Thailand is to conclude a Lease Agreement with the Thai nationals. A lease
                        agreement, however, must be in writing and requires registration in the Land Department if the period is more than three years. Otherwise,
                        it cannot produce legal effect and can be enforceable only for a period of three years.
                        <br />Usually it is permitted for 50 years if it is for commercial purposes and 30 years for non-commercial purposes. Marrying a Thai national will
                        not make a foreigner a co-owner of a real estate property in Thailand. When a Thai national marries a foreigner, she is allowed only to purchase
                        real estate property in Thailand only if she executes a letter stating that the property to be acquired will become separate personal property
                        of the Thai national. This is a strict law to prevent circumvention of laws in Thailand. However, the foreigner spouse can enter into a Usufruct
                        Agreement with his Thai spouse in order to enjoy, and use the real estate property.<br /><br />
                        Source: thailandlaws.org<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>