
@{
    ViewBag.Title = "HowToBuy";
}
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <h2 class="home-title-title letter-spacing_4 text-uppercase text-center"></h2>
            </div>
            <div class="row col-lg-12">
                <div class="agency-contact-content mt-4">
                    <img src="~/images/HowToBuy/Thailand-Penthouse-How-to-buy-property1.jpg" class="img-fluid" />
                    <img src="~/images/HowToBuy/Thailand-Penthouse-How-to-buy-property2.jpg" class="img-fluid" />
                    <img src="~/images/HowToBuy/Thailand-Penthouse-How-to-buy-property3.jpg" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
