<!-- END COUNTER -->
<section class="section" id="contact">
    <div class="container">

        <div class="row mt-5 pt-3 vertical-content">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <h2 class="home-title-title letter-spacing_4 text-uppercase text-center">
                    ABOUT US
                </h2>
            </div>
            <div class="row col-lg-12">
                <div class="agency-contact-content mt-4">

                    <p>
                        Thailandpenthouses.com is the only website which collects luxury property in Thailand under Bride Estate (Thailand), that carefully selected penthouses listed from
                        around country with thoughts of hope to assist and make it easier for buyers and investors around the world.
                        <br />
                        <br />Premium penthouses around country have been exclusively selected by us to make sure that you will get the best project with the best location that suits you.
                        <br />
                        <br />For Bridge Estate, we are an experienced international Real Estate agent in Thailand that focus exclusively on luxury residential real estate and proud to help you
                        choosing your perfect property in Thailand.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

