
<footer class="section agency-bg-footer pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">

            </div>

            <div class="col-lg-5">
                    <h3 class="footer-heading text-uppercase font-weight-bold f-13">RESOURCES</h3>
                    <ul class="list-unstyled footer-link mt-3 mb-0 f-10">
                        <li><a href="">HOW TO BUY PROPERTY IN THAILAND</a></li>
                        <li><a href="@Url.Action("Index", "Law",new { text = "REAL_ESTATE_LAWS" })">THAI REAL ESTATE LAWS</a></li>
                        <li><a href="@Url.Action("Index", "Law",new { text = "THAI_TAX_LAWS" })">THAI TAX LAWS</a></li>
                    </ul>
            </div>

            <div class="col-lg-1">

            </div>

            <div class="col-lg-5 align-self-center">
                <a href="www.google.com"><i class="fa fa-facebook"></i></a>
                <i class="fab fa-facebook fa-2x" style="color:white"></i>
                <a href="instagram.com/bridgethailand" target="_blank" class="btn btn-custom">
                    <i class="fab fa-instagram fa-2x" style="color:white"></i>
                </a>
                <i class="fab fa-twitter fa-2x" style="color:white"></i>
                <i class="fab fa-linkedin fa-2x" style="color:white"></i>
                <i class="fab fa-whatsapp fa-2x" style="color:white"></i>
                <i class="fab fa-line fa-2x" style="color:white"></i>
            </div>

        </div>


    </div>
</footer>