@{
    ViewData["Title"] = "Beatniq";

}

<style>
    /* Make the image fully responsive */

    #carouselExampleControls .carousel-item.active {
        margin: 0px 0px 0px 0px;
    }

    #carouselExampleControls .carousel-item {
        min-height: 0;
    }

    #carouselExampleControls .carousel-indicators {
        position: static;
        margin-top: 20px;
    }


        #carouselExampleControls .carousel-indicators li img {
            display: block;
            opacity: 0.5;
        }

        #carouselExampleControls .carousel-indicators li.active img {
            opacity: 1;
        }

        #carouselExampleControls .carousel-indicators li:hover img {
            opacity: 0.75;
        }
</style>
<!-- START COUNTER -->
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <a href="#">
                        <img src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Header.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="row col-lg-12  mt-2 home-title text-center justify-content-md-center">
                <div class="agency-contact-content mt-4">
                    <h2 class="home-title-title letter-spacing_4 text-uppercase">BEATNIQ SUKHUMVIT 32</h2>
                    <p class="home-title-desc text-muted mt-4">
                        Brand new unique luxury condominium - Only 250 metres from Thong Lo BTS Station
                        Inspired by those from Mid-Century era, the heyday of self-exploration, the time when individualism was High treasured.
                        The exceptional motifs to express the distinctive lifestyle of those who truly understand the meaning of uniqueness.
                    </p>

                </div>
            </div>
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-date"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PROJECT INFORMATION</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="interior-tab" data-toggle="tab" href="#interior" role="tab" aria-controls="interior" aria-selected="true">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-plugin"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">NEIGHBORHOOD</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="decoration-tab" data-toggle="tab" href="#decoration" role="tab" aria-controls="decoration" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-shuffle"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">GALLERY</h5>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" id="exclusively-tab" data-toggle="tab" href="#exclusively" role="tab" aria-controls="exclusively" aria-selected="false">
                                    <div class="interior-services-icon">
                                        <i class="pe-7s-check"></i>
                                    </div>
                                    <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PANORAMA VIEW</h5>
                                </a>
                            </li>*@
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="planning" role="tabpanel" aria-labelledby="planning-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Project-Detail.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                        <p class="home-title-desc text-muted mt-4 text-left" style="font-size:small">
                                            <b>Project Name</b> : BEATNIQ SUKHUMVIT 32<br />
                                            <b>Developer</b> : SC Asset Corporation Plc.<br />
                                            <b>Location</b> : Close to Sukhumvit Road at Sukhumvit 32<br />
                                            <b>Land Area</b> : 1-3-69 Rai (Approximately 0.76 Acres) / 197 Units<br />
                                            <b>Parking</b> : 193 Lots<br />
                                            <b>Unit Size</b> : 3 Bedrooms (162 – 207 sq.m.)<br />
                                            <b>Facilities</b> : Ground Floor Lobby, Reading Lounge with Meeting Room, Landscape Garden with Dipping Pool<br />
                                            7th Floor : Swimming Pool with Floating Pool Pavilion, Steam and Sauna, Fully Equipped Fitness with Boxing Area & Yoga Studio, Kid’s Lounge<br />
                                            32th Floor : Landscape Garden<br />
                                            34th Floor : Sky Lounge with Outdoor, Recreation Area Semi-Outdoor Heated Spa Pool<br />

                                        </p>
                                        @*<h3 class="text-uppercase f-22 letter-spacing_4"> STARTS XXX.XX MB</h3>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="interior" role="tabpanel" aria-labelledby="interior-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">

                                        <p class="text-muted mt-4 text-left">
                                            <b>Transportation</b> : 250 m. to BTS Thong Lo Station / 500 m. to The EM District / Close to Rama IX Expressway / Close to Rama IV Expressway / Close to Sukhumvit Road / Close to Petchburi Road<br />
                                            <b>Education</b> : Srinakharinwirot University / Bangkok Prep International School / Ivy Bound International School<br />
                                            <b>Hospitals</b> : Samitivej Hospital / Camillion Hospital / Bumrungrad Hospital<br />
                                            <b>Park</b> : Benchasiri Park<br />
                                            <b>Shopping</b> : EmQuartier / Emporium / K Village Shopping Mall / J Avenue / Gateway Ekkamai / Terminal 21
                                        </p>


                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Neighborhood.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="decoration" role="tabpanel" aria-labelledby="decoration-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-12">
                                    <div class="interior-services-info mt-4">

                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

                                            <div class="carousel-inner">
                                                <div class="carousel-item active" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G1.jpg" alt="">
                                                </div>

                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G2.jpg" alt="">
                                                </div>

                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G3.jpg" alt="">
                                                </div>
                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G4.jpg" alt="">
                                                </div>
                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G5.jpg" alt="">
                                                </div>
                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G6.jpg" alt="">
                                                </div>
                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G7.jpg" alt="">
                                                </div>
                                                <div class="carousel-item" style="height:100%">
                                                    <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G8.jpg" alt="">
                                                </div>

                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                            <ol class="carousel-indicators">
                                                <li class="list-inline-item active">
                                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G1.jpg" alt="">
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G2.jpg" alt="">
                                                    </a>
                                                </li>

                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G3.jpg" alt="">
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G4.jpg" alt="">
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-4" data-slide-to="4" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G5.jpg" alt="">
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-5" data-slide-to="5" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G6.jpg" alt="">
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-6" data-slide-to="6" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G7.jpg" alt="">
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a id="carousel-selector-7" data-slide-to="7" data-target="#carouselExampleControls">
                                                        <img class="img-fluid" src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-G8.jpg" alt="">
                                                    </a>
                                                </li>

                                            </ol>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>




                        @*<div class="tab-pane fade" id="exclusively" role="tabpanel" aria-labelledby="exclusively-tab">
                                <div class="row mt-5 vertical-content">
                                    <div class="col-lg-6">
                                        <div class="interior-services-info mt-4">
                                            <h3 class="text-uppercase f-22 letter-spacing_4">Create Decoration</h3>
                                            <p class="text-muted mt-4">Teachings of the great explorer the master builder of human happiness rejects dislikes or avoids pleasure itself because pleasur but because those pursue pleasure rationally encounter consequences that are extremely painful again is there anyone who loves or circumstances occur which toil and pain procure him some great pleasure take a trivial example which exercise.</p>
                                            <p class="text-muted">Pursues or desires to obtain pain of becaus but because occasionally undertakes laborious physical exercise from it?</p>
                                            <div class="mt-4">
                                                <a href="#" class="btn btn-md btn-dark-custom">Read More <i class="mdi mdi-arrow-right-bold pl-2"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="interior-services-img mt-4">
                                            <img src="~/images/img_Project/BEATNIQ/Materials-for-TP-BNQ-Project-Detail.jpg" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("~/Views/PartialView/_ContactMail.cshtml")
@Html.Partial("~/Views/PartialView/_ContactUS.cshtml")
<script type="text/javascript">
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 50) {
            $(".sticky").addClass("nav-sticky");
        }
        else {
            $(".sticky").addClass("nav-sticky");
        }
    });

</script>
