<!-- START COUNTER -->
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <a href="#">
                        <img src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Header.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="row col-lg-12  mt-2 home-title text-center justify-content-md-center">
                <div class="agency-contact-content mt-4">
                    <h2 class="home-title-title letter-spacing_4 text-uppercase">Saladaeng One</h2>
                    <p class="home-title-desc text-muted mt-4">
                        That One That Matters
                        Supreme Adjacency - With the same design philosophy of ventilation grilles, wall bases are concealed and seamless.
                        Not only for it's aesthetic values, concealed wall base design welcomes all loose furniture alternatived that can be placed adjacently to the wall without any apaces in between.
                    </p>

                </div>
            </div>
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-date"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PROJECT INFORMATION</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="interior-tab" data-toggle="tab" href="#interior" role="tab" aria-controls="interior" aria-selected="true">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-plugin"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">NEIGHBORHOOD</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="decoration-tab" data-toggle="tab" href="#decoration" role="tab" aria-controls="decoration" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-shuffle"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">GALLERY</h5>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" id="exclusively-tab" data-toggle="tab" href="#exclusively" role="tab" aria-controls="exclusively" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-check"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PANORAMA VIEW</h5>
                            </a>
                        </li>*@
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="planning" role="tabpanel" aria-labelledby="planning-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Project-Detail.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4 text-left">
                                        <p class="home-title-desc text-muted mt-4">
                                            Project Name : Saladaeng One
                                            Developer : SC Asset Coporation Plc.
                                            Location : No.39 Saladaeng Soi 1,  Rama IV, Bangkok
                                            Land area : 1-3-95.5 Rai (Approximately 3,182 sq.m.)
                                            Building / Units : 2 Buildings (Tower 185 Units, Villa 2 Units)
                                            Type of Units : Penthouse (435 - 442 sq.m.)
                                            Facilities : Swimming Pool / Suana / Steam / Fully-Equipped Gym / Business Lounge / Landscaped Sky Terrace / 3 Passenger Elevators / 1 Service Elevator
                                        </p>
                                        @*<h3 class="text-uppercase f-22 letter-spacing_4"> STARTS XXX.XX MB</h3>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="interior" role="tabpanel" aria-labelledby="interior-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                       
                                        <p class="text-muted mt-4 text-left">
                                            Transporation : MRT Silom / MRT Lumpini / BTS Saladaeng / BTS Chong Nonsi
                                            Education : Saint Joseph Convent School / Mater Dei School / Chulalongkorn University / Triam Udom Suksa School
                                            Hospital : BNH Hospital / Bumrungrad International Hospital
                                            Park : Lumpini park
                                            Shopping : Central Embassy / Central Chidlom / Gaysorn Village / Central World
                                        </p>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Neighborhood.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="decoration" role="tabpanel" aria-labelledby="decoration-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/img_Project/SALADAENGONE/Materials-for-TP-THMNMTL1.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G1.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-2.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G2.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-3.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G3.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-4.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G4.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Livingroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-5.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G5.jpg" alt="5" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Livingroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-6.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-G6.jpg" alt="6" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Ui Designer</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="exclusively" role="tabpanel" aria-labelledby="exclusively-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                        <h3 class="text-uppercase f-22 letter-spacing_4">Create Decoration</h3>
                                        <p class="text-muted mt-4">Teachings of the great explorer the master builder of human happiness rejects dislikes or avoids pleasure itself because pleasur but because those pursue pleasure rationally encounter consequences that are extremely painful again is there anyone who loves or circumstances occur which toil and pain procure him some great pleasure take a trivial example which exercise.</p>
                                        <p class="text-muted">Pursues or desires to obtain pain of becaus but because occasionally undertakes laborious physical exercise from it?</p>
                                        <div class="mt-4">
                                            <a href="#" class="btn btn-md btn-dark-custom">Read More <i class="mdi mdi-arrow-right-bold pl-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/SALADAENGONE/Materials-for-TP-SLD-One-Neighborhood.jpg" class="img-fluid" alt=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("~/Views/PartialView/_ContactMail.cshtml")
@Html.Partial("~/Views/PartialView/_ContactUS.cshtml")
<script type="text/javascript">
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 50) {
            $(".sticky").addClass("nav-sticky");
        }
        else {
            $(".sticky").addClass("nav-sticky");
        }
    });

</script>
