<!-- START COUNTER -->
<section class="section agency-bg-counter">
    <div class="container">
        <div class="row vertical-content" id="counter">
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <a href="#">
                        <img src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Header.jpg" class="img-fluid" alt="">
                    </a>
                </div>
            </div>
            <div class="row col-lg-12  mt-2 home-title text-center justify-content-md-center">
                <div class="agency-contact-content mt-4">
                    <h2 class="home-title-title letter-spacing_4 text-uppercase">98 Wireless</h2>
                    <p class="home-title-desc text-muted mt-4">
                        98 Wireless is a condominium project, developed by Sansiri. Construction of 98 Wireless was completed in 2017.
                        Condominium comprises of a single building, having 25 floors and includes 77 units.
                        It's one of the very last freehold plots of land on this prestigious road and is at the prime crossroad. 
                    </p>

                </div>
            </div>
            <div class="row col-lg-12 mt-2 home-title text-center justify-content-md-center" style="text-align:center">
                <div class="post-img mt-3">
                    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="planning-tab" data-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-date"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PROJECT INFORMATION</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="interior-tab" data-toggle="tab" href="#interior" role="tab" aria-controls="interior" aria-selected="true">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-plugin"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">NEIGHBORHOOD</h5>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="decoration-tab" data-toggle="tab" href="#decoration" role="tab" aria-controls="decoration" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-shuffle"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">GALLERY</h5>
                            </a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" id="exclusively-tab" data-toggle="tab" href="#exclusively" role="tab" aria-controls="exclusively" aria-selected="false">
                                <div class="interior-services-icon">
                                    <i class="pe-7s-check"></i>
                                </div>
                                <h5 class="mb-0 text-uppercase f-15 letter-spacing_2 mt-3">PANORAMA VIEW</h5>
                            </a>
                        </li>*@
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade active show" id="planning" role="tabpanel" aria-labelledby="planning-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Project-Information.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                        <p class="home-title-desc text-muted mt-4 text-left">
                                            Project Name : 98 Wireless
                                            Developer : Sansiri Public Company Limited
                                            Area : 2 Rai
                                            No. of Building : 1 Building
                                            No. of Storey : 25 Stories
                                            No. of Units : 77 Units
                                            Parking : 240 %
                                            Facilities : Swimming pool, Fitness, Steam room, Bicycle Storage room, Tea room, Business Lounge, CCTV
                                            Garden, Door with card access, and Security 24 hours
                                        </p>
                                        @*<h3 class="text-uppercase f-22 letter-spacing_4"> STARTS XXX.XX MB</h3>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="interior" role="tabpanel" aria-labelledby="interior-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                        <h3 class="text-uppercase f-22 letter-spacing_4">Creative Design</h3>
                                        <p class="text-muted mt-4 text-left">
                                            Location & Surrounding
                                            Transportation : BTS Ploenchit station 350 m.
                                            Shopping Centre
                                            Tops Market (All Season Place) 560 m.
                                            Central Chitlom 580 m.
                                            Villa Market (Ploenchit Center) 790 m.
                                            Hospital
                                            BNH Hospital 560 m.
                                            School
                                            Mulberry House International Pre School 530 m. 
                                            RC International School 760 m.
                                            Mater Dei School 800 m. 
                                        </p>
                                      
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Neighborhood.jpg" class="img-fluid" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="decoration" role="tabpanel" aria-labelledby="decoration-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/img_Project/98WIRELESS/Materials-for-TP-THMNMTL1.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless1.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-2.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless2.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-3.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless3.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Bedroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-4.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless4.jpg" alt="" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Livingroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-5.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless5.jpg" alt="5" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Livingroom</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 nf-item p-0">
                                    <div class="gallary-box m-3">
                                        <a class="mfp-image" href="~/images/Theme/works/work-6.jpg" title="">
                                            <img class="gallary-container" src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless6.jpg" alt="6" />
                                            <div class="item-effect">
                                                <div class="item-caption text-center bg-dark text-white p-3">
                                                    <h5 class="f-14 letter-spacing_2 text-uppercase mb-0">Ui Designer</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="exclusively" role="tabpanel" aria-labelledby="exclusively-tab">
                            <div class="row mt-5 vertical-content">
                                <div class="col-lg-6">
                                    <div class="interior-services-info mt-4">
                                        <h3 class="text-uppercase f-22 letter-spacing_4">Create Decoration</h3>
                                        <p class="text-muted mt-4">Teachings of the great explorer the master builder of human happiness rejects dislikes or avoids pleasure itself because pleasur but because those pursue pleasure rationally encounter consequences that are extremely painful again is there anyone who loves or circumstances occur which toil and pain procure him some great pleasure take a trivial example which exercise.</p>
                                        <p class="text-muted">Pursues or desires to obtain pain of becaus but because occasionally undertakes laborious physical exercise from it?</p>
                                        <div class="mt-4">
                                            <a href="#" class="btn btn-md btn-dark-custom">Read More <i class="mdi mdi-arrow-right-bold pl-2"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="interior-services-img mt-4">
                                        <img src="~/images/img_Project/98WIRELESS/Materials-for-TP-98Wireless-Header.jpg"  class="img-fluid" alt=""/>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@Html.Partial("~/Views/PartialView/_ContactMail.cshtml")
@Html.Partial("~/Views/PartialView/_ContactUS.cshtml")
<script type="text/javascript">
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 50) {
            $(".sticky").addClass("nav-sticky");
        }
        else {
            $(".sticky").addClass("nav-sticky");
        }
    });

</script>
